{% load socialaccount %}
{% load static %}
<style>
    .dropdown-menu {
        background-color: #384757;
    }

    .dropdown-item {
        color: #9aaab5;
    }

    .dropdown-item:hover {
        background-color: #384757;
        color: white;
        transition: all 0.2s ease;
    }

    .nav-link{
        transition: all 0.2s ease;
    }

    .alert {
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
        transition: visibility 0s, opacity 250ms, transform 250ms;
    }
    .alert.hide {
        position: relative;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s 250ms, opacity 250ms, transform 250ms;
    }

</style>
<script>
    var m = document.getElementsByClassName("alert");

    setTimeout(function(){
        for (var i=0; i<m.length; i++) {
            m[i].classList.add('hide');
        }
    }, 5000);
</script>
<nav
      class="navbar navbar-dark navbar-expand-md navigation-clean-button"
      style="background: #232d3b"
    >
      <div class="container">
        <a href="{% url 'home:home' %}">
        <img
          class="rounded-circle"
          src="{% static 'images/cropped-Tech-With-TimXL-192x192.png' %}"
          style="opacity: 1; width: 66; height: 66; border-radius: 60"
          width="66"
          height="66"
        /></a>
        <button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-start" id="navcol-1">
          <ul class="navbar-nav text-start mx-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'home:home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'timathon:Home' %}">Timathon</a></li>
            {% if is_staff %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'home:unreleased' %}">Unreleased</a>
                </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a
                class="dropdown-toggle nav-link"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                href="#"
                >More</a
              >
              <div class="dropdown-menu">
                {% for page in custom_pages %}
                    {% if page.public %}
                        {% if page.only_staff %}
                            {% if is_staff %}
                                <a class="dropdown-item" href="{% url 'home:custom view' page.linkName %}">{{ page.page_menu_name }}</a>
                            {% endif %}
                        {% else %}
                            <a class="dropdown-item" href="{% url 'home:custom view' page.linkName %}">{{ page.page_menu_name }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
              </div>
            </li>
          </ul>
          <span class="navbar-text actions">
            {% if user.is_authenticated %}
                <a href="{% url 'home:logout' %}">
                <button
                class="btn default-btn"
                id="log-in-out-btn"
                type="button"
                >
                <img
                    class="rounded-circle"
                    width="32"
                    height="32"
                    src="{{ avatar_url }}"
                    style="margin-right: 5px"
                />Log out
                </button>
                </a>
            {% else %}
                <a href="{% provider_login_url 'discord' %}">
                <button
                class="btn default-btn"
                id="log-in-out-btn"
                type="button"
                ><i class="fab fa-discord"
            style="transform: scale(1.54); padding: 11px"
                ></i
                >Log in
                </button>
                </a>
            {% endif %}
            </span>
        </div>
      </div>
    </nav>

<div class="container">
    {% if messages %}
        <div class="row">
            <div class="col-sm-4 col-sm-offset-3" style="position: absolute; right:0px; top: 100px">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-text alert-dismissible" role="alert">
                        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
                        <strong class="alert-text">{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}
                            {{ message.tags|title }}{% endif %}!</strong>
                        <p class="alert-text">{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
