{% extends 'base/base.html' %}
{% load socialaccount %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/judge_home.css' %}">
{% endblock %}

{% block title %}Code Jam Judging{% endblock %}
{% block content %}
{% include "base/navbar.html" %}

<div class="accordion" id="judgeAccordion">
  <div class="accordion-item bg-transparent">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pendingCollapse" aria-expanded="true" aria-controls="pendingCollapse">
        Pending
      </button>
    </h2>
    <div id="pendingCollapse" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#judgeAccordion">
      <div class="accordion-body">
        <div class="containers">
          {% for submission in submissions %}
          {% if user not in submission.judges %}
            <br>
            <div class="submission-view-container">
                <h2><b>{{ submission.team.name }}</b></h2><br>
                <p class="text-white" style="font-size: large;">{{ submission.description }}</p><br>
                <a class="btn default-btn" href="{{ submission.github_link }}"
                    title="{{ submission.github_link }}" target="_blank">GitHub</a><br><br>
                <div class="members-list">
                    {% for team_member in submission.team.discord_members %}
                        <div class="member">
                            <img style="border-radius: 50%; width: 45px;" class="pfp" src="{{ team_member.avatar_url }}"
                                  alt="pfp">
                            <p style="font-weight: bold;" class="text-white title">{{ team_member.username }}</p>
                        </div>
                    {% endfor %}
                </div>

                <div>
                  <table class="table table-dark">
                    <thead>
                        <tr>
                        <th scope="col">Judge</th>
                        <th scope="col">C1</th>
                        <th scope="col">C2</th>
                        <th scope="col">C3</th>
                        <th scope="col">C4</th>
                        <th scope="col">Notes</tr>  
                    </thead>
                    <tbody>
                    {% for vote in submission.votes.all %}
                        <tr>
                        <th scope="row">{{ vote.user.username }}</th>
                        <td>{{ vote.c1 }}</td>
                        <td>{{ vote.c2 }}</td>
                        <td>{{ vote.c3 }}</td>
                        <td>{{ vote.c4 }}</td>
                        <td>{{ vote.notes }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>

                <span class="text-white">Score:
                {% if not submission.points %}
                  Not graded
                {% else %}
                  {{ submission.points|floatformat:1 }}
                {% endif %}
                </span>

                <br>
                {% if challenge.voting_status %}
                  {% if user not in submission.team.members.all and user not in submission.judges %}
                    <a class="btn btn-info" style="margin-right: 10px;" href="{% url 'timathon:JudgeVote' submission.id %}">Judge</a>
                  {% endif %}
                {% endif %}
            </div>
          {% endif %}
          {% empty %}
            <div class="container text-white" style="margin-top: 2%;">
              <h1 class="display-4 text-center">There are no pending submissions to be</h1>
            </div>
          {% endfor %}
          </div>
      </div>
    </div>
  </div>
  <div class="accordion-item bg-transparent">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#completedCollapse" aria-expanded="false" aria-controls="completedCollapse">
        Completed
      </button>
    </h2>
    <div id="completedCollapse" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#judgeAccordion">
      <div class="accordion-body">
        <div class="containers">
          {% for submission in submissions %}
          {% if user in submission.judges %}
            <br>
            <div class="submission-view-container">
              <h2><b>{{ submission.team.name }}</b></h2><br>
              <p class="text-white" style="font-size: large;">{{ submission.description }}</p><br>
              <a class="btn default-btn" href="{{ submission.github_link }}"
                  title="{{ submission.github_link }}" target="_blank">GitHub</a><br><br>
              <div class="members-list">
                {% for team_member in submission.team.discord_members %}
                  <div class="member">
                    <img style="border-radius: 50%; width: 45px;" class="pfp" src="{{ team_member.avatar_url }}"
                      alt="pfp">
                    <p style="font-weight: bold;" class="text-white title">{{ team_member.username }}</p>
                  </div>
                {% endfor %}
              </div>

              <div>
              <table class="table table-dark">
                <thead>
                  <tr>
                  <th scope="col">Judge</th>
                  <th scope="col">C1</th>
                  <th scope="col">C2</th>
                  <th scope="col">C3</th>
                  <th scope="col">C4</th>
                  <th scope="col">Notes</tr>  
                </thead>
                <tbody>
                {% for vote in submission.votes.all %}
                  <tr>
                  <th scope="row">{{ vote.user.username }}</th>
                  <td>{{ vote.c1 }}</td>
                  <td>{{ vote.c2 }}</td>
                  <td>{{ vote.c3 }}</td>
                  <td>{{ vote.c4 }}</td>
                  <td>{{ vote.notes }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              </div>

              <span class="text-white">Score:
              {% if not submission.points %}
              Not graded
              {% else %}
              {{ submission.points|floatformat:1 }}
              {% endif %}
              </span>
            </div>
          {% endif %}
          {% empty %}
            <div class="container text-white" style="margin-top: 2%;">
              <h1 class="display-4 text-center">There are no submissions!</h1>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
