{# Main landing page. #}
{% extends 'base/base.html' %}
{% load socialaccount %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    {% include "base/navbar.html" %}
    {% if is_staff %}
        <p class="text-center text-white" style="margin-top: 25px">Hey {{ username }}, you have permission to create new challenges!
            <br>
            <a href="{% url 'home:new' %}">
                <button class="btn btn-success" style="margin-top: 10px">
                    New
                </button>
            </a>
        </p>
    {% endif %}

    <!-- <a href="https://logwork.com/countdown-pgpp" style="height: 100px;" class="countdown-timer" data-timezone="Europe/London" data-date="{{timer_date}} {{timer_time}}">{{timer_title}}</a> -->
    <div class="container" style="margin-bottom: 63px;">
        <div class="row h-100" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
            <div class="col d-flex flex-column justify-content-center" style="margin-top: 23px;padding-bottom: 20px;">
                <h1 class="text-center" style="color: rgb(255,255,255);font-family: 'Borsok Regular', Anton;font-size: 61.88px;">Timathon</h1>
                <h1 class="text-center" style="color: rgb(255,255,255);font-family: 'Lovelo Black', Actor, sans-serif;font-size: 46.88px;opacity: 0.20;margin-top: -21px;text-align: center;padding-top: 0;">CODE JAMS</h1>
                <h1 class="mb-5" style="font-size: 21.880000000000003px;color: rgb(255,255,255);font-weight: normal;font-family: Actor, sans-serif;"><br>Timathon is a code jam hosted every <strong>2 months</strong>, each consisting of a different theme and allowing yourself to put your skills to the test.<br><br><br><strong>Prizes</strong>:<br>For our code jams, you're in for a chance to win&nbsp;<strong>real cash prizes</strong>.<br>(USD)&nbsp;<strong>$150</strong>,&nbsp;<strong>$100</strong>&nbsp;and&nbsp;<strong>$50</strong>&nbsp;will be split amongst the winning teams.<br><br>All top 5 teams, along with the winner and runner up of the category "Best project hosted on replit", will receive a <strong>3 month Replit hacker plan</strong> (for the whole team)!</h1>
                <div class="text-center d-lg-flex justify-content-lg-center" style="margin-top: -15px;">
                    <a class="btn action-button default-btn" type="button" href="{% url 'timathon:Home' %}">View Timathon</a>
                    <a class="btn action-button outline-default-btn" type="button" style="margin-left: 10px;" href="{% url 'timathon:History' %}">Timathon History</a>
                </div>
            </div>
            <div class="col d-lg-flex align-items-lg-center hero-img" style="margin-top: 50px;margin-bottom: 50px;min-width: 55%;"><img class="img-fluid" src="{% static 'images/undraw_project_team_lc5a.svg' %}"></div>
        </div>
    </div>
    <div class="brands">
        <h1 class="text-center" style="color: rgb(0,0,0);font-family: 'Lovelo Black', Actor, sans-serif;font-size: 22.88px;opacity: 1;text-align: center;padding-top: 20px;">Brought to you by</h1>
        <a href="https://replit.com/" style="padding-top: 0px;padding-bottom: 6px;">
            <img class="img-fluid" src="{% static 'images/replit-logo.svg' %}" width="130" style="margin-top: 2px;">
        </a>
    </div>
    <section class="team-boxed">
        <div class="container" data-aos="fade-up" data-aos-duration="600" data-aos-once="true" style="margin-top: 25px;">
            <div class="intro">
                <h1 class="text-center" style="color: rgb(255,255,255);font-family: 'Lovelo Black', Actor, sans-serif;font-size: 22.88px;opacity: 1;text-align: center;padding-top: 20px;"><i class="fas fa-trophy" style="transform: scale(1);padding-right: 12px;"></i>LATEST TIMATHON WINNERS</h1>
            </div>
            <div class="row people">
            {% for team in winners %}
                <div class="col-md-6 col-lg-4 item">
                    <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true" class="box">
                        <h3 class="name">{{ team.name }}</h3>
                        <p class="description"><br>{{ team.submission.description }}<br><br></p>
                        <div class="social">
                        {% for team_member in team.discord_members %}
                            <img class="rounded-circle" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" width="42" src="{{ team_member.avatar_url }}" title="{{ team_member.username }}">
                        {% endfor %}
                        </div>
                        <div class="text-center d-lg-flex justify-content-lg-center" style="margin-top: 30px;">
                            <a class="btn action-button default-btn" type="button" href="{{ team.submission.github_link }}">Github</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: 100px;margin-top: 55px;">
        <h1 class="text-center" style="color: rgb(255,255,255);font-family: 'Borsok Regular', Anton;font-size: 61.88px;">Discord</h1>
        <h1 class="text-center mb-5" style="font-size: 21.880000000000003px;color: rgb(255,255,255);font-weight: normal;font-family: Actor, sans-serif;">Join our discord server where you can participate in <strong>weekly challenges</strong>, talk with other programmers, ask for help and more!</h1>
        <div class="text-center d-lg-flex justify-content-lg-center" style="margin-top: -26px;"><a class="btn action-button default-btn" role="button" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" data-aos="zoom-in" data-aos-once="true" id="log-in-out-btn-2" href="https://discord.gg/twt" style="color: rgb(255,255,255);border-style: none;" title="discord.gg/twt"><i class="fab fa-discord" style="transform: scale(1.54);padding: 11px;"></i>Join Server</a></div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://cdn.logwork.com/widget/countdown.js"></script>
{% endblock %}