{# Main landing page. #}
{% extends 'base/base.html' %}
{% load socialaccount %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    {% include "base/navbar.html" %}
    {% if is_staff %}
        <p class="text-center text-white" style="margin-top: 25px">Hey {{ username }}, you have permission to create new challenges!
            <br>
            <a href="{% url 'home:new' %}">
                <button class="btn btn-success" style="margin-top: 10px">
                    New
                </button>
            </a>
        </p>
    {% endif %}

    <!-- <a  href="https://logwork.com/countdown-pi3s"  class="countdown-timer" data-style="circles"  onclick="return false;" data-textcolor="#fafafa"  data-background="#ff7b00" data-digitscolor=" #fafafa" data-unitscolor="#fafafa" data-timezone="Africa/Monrovia" data-date="{{timer_date}} {{timer_time}}">{{timer_title}}</a>  -->
    <div id="days"></div>
    <div id="hours"></div>
    <div id="minutes"></div>
    <div id="seconds"></div>
    <div class="container" style="margin-bottom: 63px;">
        <div class="row h-100" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
            <div class="col d-flex flex-column justify-content-center" style="margin-top: 23px;padding-bottom: 20px;">
                <h1 class="text-center" style="color: rgb(255,255,255);font-family: 'Borsok Regular', Anton;font-size: 61.88px;">Timathon</h1>
                <h1 class="text-center" style="color: rgb(255,255,255);font-family: 'Lovelo Black', Actor, sans-serif;font-size: 46.88px;opacity: 0.20;margin-top: -21px;text-align: center;padding-top: 0;">CODE JAMS</h1>
                <h1 class="mb-5" style="font-size: 21.880000000000003px;color: rgb(255,255,255);font-weight: normal;font-family: Actor, sans-serif;"><br>Timathon is a code jam hosted every <strong>2 months</strong>, each consisting of a different theme and allowing yourself to put your skills to the test.<br><br><br><strong>Prizes</strong>:<br>For our code jams, you're in for a chance to win&nbsp;<strong>real cash prizes</strong>.<br>(USD)&nbsp;<strong>$150</strong>,&nbsp;<strong>$100</strong>&nbsp;and&nbsp;<strong>$50</strong>&nbsp;will be split amongst the winning teams.<br><br>All top 5 teams, along with the winner and runner up of the category "Best project hosted on replit", will receive a <strong>3 month Replit hacker plan</strong> (for the whole team)!</h1>
                <div class="text-center d-lg-flex justify-content-lg-center" style="margin-top: -15px;">
                    <a class="btn action-button default-btn" type="button" href="{% url 'timathon:Home' %}">View Timathon</a>
                    <a class="btn action-button outline-default-btn" type="button" style="margin-left: 10px;" href="{% url 'timathon:History' %}">Timathon History</a>
                </div>
            </div>
            <div class="col d-lg-flex align-items-lg-center hero-img" style="margin-top: 50px;margin-bottom: 50px;min-width: 55%;"><img class="img-fluid" src="{% static 'images/undraw_project_team_lc5a.svg' %}"></div>
        </div>
    </div>
    <div class="brands">
        <h1 class="text-center" style="color: rgb(0,0,0);font-family: 'Lovelo Black', Actor, sans-serif;font-size: 22.88px;opacity: 1;text-align: center;padding-top: 20px;">Brought to you by</h1>
        <a href="https://replit.com/" style="padding-top: 0px;padding-bottom: 6px;">
            <img class="img-fluid" src="{% static 'images/replit-logo.svg' %}" width="130" style="margin-top: 2px;">
        </a>
    </div>
    <section class="team-boxed">
        <div class="container" data-aos="fade-up" data-aos-duration="600" data-aos-once="true" style="margin-top: 25px;">
            <div class="intro">
                <h1 class="text-center" style="color: rgb(255,255,255);font-family: 'Lovelo Black', Actor, sans-serif;font-size: 22.88px;opacity: 1;text-align: center;padding-top: 20px;"><i class="fas fa-trophy" style="transform: scale(1);padding-right: 12px;"></i>LATEST TIMATHON WINNERS</h1>
            </div>
            <div class="row people">
            {% for team in winners %}
                <div class="col-md-6 col-lg-4 item">
                    <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true" class="box">
                        <h3 class="name">{{ team.name }}</h3>
                        <p class="description"><br>{{ team.submission.description }}<br><br></p>
                        <div class="social">
                        {% for team_member in team.discord_members %}
                            <img class="rounded-circle" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" width="42" src="{{ team_member.avatar_url }}" title="{{ team_member.username }}">
                        {% endfor %}
                        </div>
                        <div class="text-center d-lg-flex justify-content-lg-center" style="margin-top: 30px;">
                            <a class="btn action-button default-btn" type="button" href="{{ team.submission.github_link }}">Github</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: 100px;margin-top: 55px;">
        <h1 class="text-center" style="color: rgb(255,255,255);font-family: 'Borsok Regular', Anton;font-size: 61.88px;">Discord</h1>
        <h1 class="text-center mb-5" style="font-size: 21.880000000000003px;color: rgb(255,255,255);font-weight: normal;font-family: Actor, sans-serif;">Join our discord server where you can participate in <strong>weekly challenges</strong>, talk with other programmers, ask for help and more!</h1>
        <div class="text-center d-lg-flex justify-content-lg-center" style="margin-top: -26px;"><a class="btn action-button default-btn" role="button" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" data-aos="zoom-in" data-aos-once="true" id="log-in-out-btn-2" href="https://discord.gg/twt" style="color: rgb(255,255,255);border-style: none;" title="discord.gg/twt"><i class="fab fa-discord" style="transform: scale(1.54);padding: 11px;"></i>Join Server</a></div>
    </div>

{% endblock %}

{% block js %}
    <script>
        var countDownDate = new Date('{{timer|date:"Y-m-d H:i"}}').getTime();
    var daysDiv = document.getElementById('days');
    var hoursDiv = document.getElementById('hours');
    var minutesDiv = document.getElementById('minutes');
    var secondsDiv = document.getElementById('seconds');

    setInterval(() => {
    let now = new Date().getUTCMilliseconds();

    let daysLeft = (countDownDate - now) / (1000 * 60 * 60 * 24);
    let hoursLeft = ((countDownDate - now) % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60);
    let minutesLeft = ((countDownDate - now) % (1000 * 60 * 60)) / (1000 * 60);
    let secondsLeft = ((countDownDate - now) % (1000 * 60)) / 1000;


    document.getElementById("seconds").innerHTML = `
    <div class="base-timer">
        <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <g class="base-timer__circle">
            <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
            <path
            id="base-timer-path-remaining-seconds"
            stroke-dasharray="283"
            class="base-timer__path-remaining green"
            d="
                M 50, 50
                m -45, 0
                a 45,45 0 1,0 90,0
                a 45,45 0 1,0 -90,0
            "
            ></path>
        </g>
        </svg>
        <span id="base-timer-label" class="base-timer__label">${Math.floor(secondsLeft)}</span>
    </div>
    `;
    document.getElementById("minutes").innerHTML = `
    <div class="base-timer">
        <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <g class="base-timer__circle">
            <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
            <path
            id="base-timer-path-remaining-minutes"
            stroke-dasharray="283"
            class="base-timer__path-remaining green"
            d="
                M 50, 50
                m -45, 0
                a 45,45 0 1,0 90,0
                a 45,45 0 1,0 -90,0
            "
            ></path>
        </g>
        </svg>
        <span id="base-timer-label" class="base-timer__label">${Math.floor(minutesLeft)}</span>
    </div>
    `;
    document.getElementById("hours").innerHTML = `
    <div class="base-timer">
        <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <g class="base-timer__circle">
            <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
            <path
            id="base-timer-path-remaining-hours"
            stroke-dasharray="283"
            class="base-timer__path-remaining green"
            d="
                M 50, 50
                m -45, 0
                a 45,45 0 1,0 90,0
                a 45,45 0 1,0 -90,0
            "
            ></path>
        </g>
        </svg>
        <span id="base-timer-label" class="base-timer__label">${Math.floor(hoursLeft)}</span>
    </div>
    `;
    document.getElementById("days").innerHTML = `
    <div class="base-timer">
        <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <g class="base-timer__circle">
            <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
            <path
            id="base-timer-path-remaining-days"
            stroke-dasharray="283"
            class="base-timer__path-remaining green"
            d="
                M 50, 50
                m -45, 0
                a 45,45 0 1,0 90,0
                a 45,45 0 1,0 -90,0
            "
            ></path>
        </g>
        </svg>
        <span id="base-timer-label" class="base-timer__label">${Math.floor(daysLeft)}</span>
    </div>
    `;

    document
        .getElementById("base-timer-path-remaining-seconds")
        .setAttribute("stroke-dasharray", `${secondsLeft * 4.8} 283`);

    document
        .getElementById("base-timer-path-remaining-minutes")
        .setAttribute("stroke-dasharray", `${minutesLeft * 4.8} 283`);

    document
        .getElementById("base-timer-path-remaining-hours")
        .setAttribute("stroke-dasharray", `${hoursLeft * 4.8} 283`);

    document
        .getElementById("base-timer-path-remaining-days")
        .setAttribute("stroke-dasharray", `${daysLeft * 4.8} 283`);
    });


    </script>
{% endblock %}